/* 左侧导航 */
.nav {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 220px;
	padding: 30px 40px 40px 20px;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background: #f6f6f6;
}
.nav::-webkit-scrollbar { width: 8px; }
.nav::-webkit-scrollbar-track { background: #eee; padding: 5px 0;}
.nav::-webkit-scrollbar-thumb { background: #bbb; border-radius: 3px; }

.nav__logo img { width: 100%; }
.nav__section { margin-top: 35px; }
.nav__section__title { font-size: 18px; }
.nav__section__list { margin: 15px 0 0 2px; line-height: 1.4; }
.nav__section__list__item {
	position: relative;
	padding-left: 18px;
	margin-top: 8px;
}
.nav__section__list__item:before {
	position: absolute;
	top: 9px;
	left: 0;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #ddd;
	content: ' ';
}
.nav__section__list__item a { color: #aaa; }
.nav__section__list__item a:hover { color: #ff3535; }
.nav__section__list__item--current:before {
	top: 13px;
	background-color: #0080e2;
}
.nav__section__list__item--current a {
	padding: 4px 6px;
	border-radius: 3px;
	display: inline-block;
	background: #0080e2;	
}
.nav__section__list__item--current a,
.nav__section__list__item--current a:hover { color: #fff; }


/* 右侧主体 */
.main { margin: 30px 100px 30px 320px; }


/* 右栏选项卡切换 */
.module-body__nav {
	position: fixed;
	right: 20px;
	top: 30px;
	text-align: center;
	font-size: 14px;
}
.module-body__nav li { margin-top: 15px; line-height: 1.4; }
.module-body__nav li:first-child { margin-top: 0; }
.module-body__nav a {
	width: 16px;
	padding: 8px 10px;
	border-radius: 4px;
	border: 1px solid #ddd;
	background: #eee;
	box-shadow: 0 0 6px #ececec,
		inset 1px 1px 0 #fafafa,
		inset -1px -1px 0 #fafafa;
	display: block;
	color: #bbb;
}
.module-body__nav a:hover { color: #999; }
.module-body__nav .ui-tabs__tabs__item--active { font-weight: bold; }
.module-body__nav .ui-tabs__tabs__item--active a { color: #666; }


/* 变量类型 */
.var-type {
	font-size: 14px;
	text-decoration: underline;
	color: #2d579d;
}


/* 文档成员 */
.member {
	margin-top: 45px;
	padding: 0 12px 40px 12px;
	border-bottom: 1px dotted #bbb;
	line-height: 1.4;
}
.member__header { font-size: 0; }
.member__header * { vertical-align: middle; }
.member__header>* { margin-left: 12px; font-size: 16px; }

.member__header__title { margin-left: 0; display: inline-block; }
.member__header__title__name { font-size: 22px; font-weight: bold; }
.member__header__title__param-list {
	margin-left: 5px;
	font-size: 18px;
	color: #bbb;
}
.member__header__title__param-list__item {
	vertical-align: baseline !important;
	color: #383838;
}
.member__header__title__overload {
	margin-left: 5px;
	vertical-align: top;
	font-size: 14px;
}
.member__header__title__extends { color: #bbb; }
.member__header__title__extends__name {
	margin-left: 8px;
	font-size: 18px;
	color: #383838;
}

.member__header__tag-list { display: inline-block; }
.member__header__tag-list__item {
	height: 26px;
	line-height: 26px;
	margin-left: 8px;
	padding: 0 6px;
	border-radius: 4px;
	background: #0080e2;
	display: inline-block;
	font-size: 14px;
	color: #fff;
}
.member__header__tag-list__item:first-child { margin-left: 0; }
.member__header__tag-list__item--exports,
.member__header__tag-list__item--global,
.member__header__tag-list__item--static {  }
.member__header__tag-list__item--protected,
.member__header__tag-list__item--private { color: #f90; }
.member__header__tag-list__item--deprecated { color: #ff3535; }

.member__body { margin-top: 20px; }
.member__body h3, .member__body p {
	margin-top: 16px;
	margin-bottom: 16px;
}
.member__body p:last-child { margin-bottom: 0; }
.member__body__param-list,
.member__body__return { margin-left: 1em; }
.member__body__return__des { margin-left: 8px; vertical-align: middle; }
.member__body__param-list { margin-top: 10px; }
.member__body__param-list dt,
.member__body__param-list dd { font-size: 16px; }
.member__body__param-list dt { margin-top: 10px; }
.member__body__param-list dd { margin: 5px 0 0 1em; }
.member__body__param-list .var-type { margin-left: 10px; }

.member-top {
	padding: 15px 12px;
	margin-top: 0;
	background: #eee;
	border-bottom: none;
	border-radius: 5px;
}
.member-top .member__body { margin-top: 0; }